.card {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card__content-wrapper {
  padding: 25px 12px;
}

.card__author {
  margin-bottom: 12px;
}

.card__name {
  font-size: 14px;
  font-weight: bold;
}

.card__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: $primary-color;
}

.card__text {
  font-size: 14px;
  line-height: 24px;
  color: $primary-color;
  margin-bottom: 20px;
}

.card__likes {
  color: #d22856;
  text-transform: uppercase;
  font-size: 12px;
}

.card__like-button {
  $size: 12px;
  width: $size;
  height: $size;
  background: transparent;
  border: none;
  font-size: 0;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
}

.card__counter {
  padding-left: 16px;
}
