.hero__image-wrapper {
  padding-top: 110px;
  background-image: url('/img/bg-back-mobile@1x.jpg')
}

.hero__actions-wrapper {
  padding: 30px 20px;
}

.hero__download-link {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 100px;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.hero__os-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
}

.hero__text {
  color: white;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
