.jumbotron {
  // height: 364px;
  background-color: $third-color;

  &__visual {
    background-image: url("/img/bg-back-mobile@1x.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  &__in-action-image {
    padding-top: 100px;
  }

  &__links {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
  }

  &__download-button {
    color: $secondary-color;
    border: 3px solid $secondary-color;
    border-radius: 30px;
    background: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding: 14px 32px 16px 36px;
    margin-bottom: 20px;
  }

  &__os-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  &__os-element {

  }

  &__os-link {
    $size: 60px;
    width: $size;
    height: $size;
    display: block;
    font-size: 0;
  }

  &__os-link--osx {
    background: url("/img/logo-apple.svg") no-repeat;
  }

  &__os-link--android {
    background: url("/img/logo-android.svg") no-repeat 0px 9px;
  }

  &__os-link--windows {
    background: url("/img/logo-microsoft.svg") no-repeat;
  }

  &__text {
    font-weight: 300;
    color: $secondary-color;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/bg-back-mobile@1x.jpg");
    display: flex;
    padding-top: 0;

    &__visual {
      display: none;
    }

    &__in-action-image {
      padding-top: 0;
    }

    &__headline {
      color: white;
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 40px;
      line-height: 50px;
    }

    &__links {
      width: 100%;
      margin-top: 75px;
      padding: 20px 0px 100px;
      background: url("/img/iphone-hand-mobile@1x.png") no-repeat bottom right;
      background-size: contain;
      margin-right: 20px;
    }

    &__links-wrapper {
      padding-left: 20px;
      width: 50%;
      text-align: center;
    }

    &__headline {
      // width: 100px;
      padding: 0px 60px;
    }

    &__download-button {
      width: 100%;
      margin-bottom: 40px;
    }

  }
}
