.jumbotron {
  // height: 364px;
  background-color: $third-color;

  &__visual {
    background-image: url("/img/bg-back-mobile@1x.jpg");
  }

  &__download-button {
    color: $secondary-color;
    border: 4px solid $secondary-color;
    border-radius: 50px;
    background: none;
    font-size: 18px;
    font-weight: bold;
  }

  &__os-link {
    width: 60px;
    height: 60px;
    display: block;
  }

  &__os-link--osx {
    background: url("/img/logo-apple.svg") no-repeat;
  }

  &__os-link--android {
    background: url("/img/logo-android.svg") no-repeat;
  }

  &__os-link--windows {
    background: url("/img/logo-microsoft.svg") no-repeat;
  }

  &__text {
    font-weight: 300;
  }
}
