.main-action {
  &__heading-wrapper {
    background: url('/img/bg-back-mobile@1x.jpg');
    padding: 35px 20px 40px;
  }

  &__heading {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 40px;
  }

  &__text-wrapper {
    padding: 50px 20px 40px;
    background: white;
  }

  &__text {
    color: $primary-color;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }
}
