.main-action__heading-wrapper {
  background-image: url('../img/bg-back-mobile@1x.jpg');
  padding: 35px 20px 40px;
}

.main-action__heading {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.main-action__text-wrapper {
  padding: 50px 20px 40px;
  background: #fff;
}

.main-action__text {
  color: $primary-color;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
