.page-footer {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  &__logo {
    display: block;
    margin-bottom: 36px;
  }

  &__social-list {
    margin-bottom: 30px;
  }

  &__social-element {
    display: inline-block;
  }

  &__social-link {
    width: 50px;
    height: 50px;
    font-size: 0;
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    display: block;
  }

  &__social-link--twitter {
    background: url(/img/icon-twitter.svg) no-repeat;
    background-position: center;
  }

  &__social-link--facebook {
    background: url(/img/icon-facebook.svg) no-repeat;
    background-position: center;
  }

  &__social-link--youtube {
    background: url(/img/icon-youtube.svg) no-repeat;
    background-position: center;
  }

  &__copyright-text {
    color: $primary-color;
    font-size: 14px;
  }

  &__copyright-link-image {
    padding-left: 16px;
    position: relative;
    top: 10px;
  }

  &__copyright-wrapper {
    margin-bottom: 40px;
  }

}
