$primary-color: #283645;
$secondary-color: #ffffff;
$third-color: #1d2631;
// $fourth-color: #f2f2f2;

$tablet-width: 660px;
$desktop-width: 1200px;

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format("woff2");
  src: url("/fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensansbold.woff2") format("woff2");
  src: url("/fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensanslight.woff2") format("woff2");
  src: url("/fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@import "reset";
@import "page-header";
@import "top";
@import "main-nav";
@import "jumbotron";
@import "features";
@import "intro";
@import "featured";
@import "card";
@import "page-footer";

body {
  font-family: "Open Sans", "Arial", sans-serif;
}
