.top {
  &__logo {
    position: absolute;
    margin: 20px 0;
  }

  &__menu-toggle {
    background: transparent;
    background-image: url("/img/icon-menu-cross.svg") no-repeat;
    border: none;
    font-size: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 24px;
  }
}
