.top {
  &__logo {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  &__menu-toggle {
    border: none;
    background: transparent;
    font-size: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 24px;
  }
}
