.top {
  &__logo {
    display: block;
    padding: 20px 0;
  }

  &__logo-image {
    display: none;
  }

  &__logo-image--mobile {
    display: block;
  }

  &__menu-toggle {
    background: transparent;
    background-image: url("/img/icon-menu-cross.svg") no-repeat;
    border: none;
    font-size: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 24px;
  }

  @media (min-width: $tablet-width) {
    &__logo-image--mobile {
      display: none;
    }

    &__logo-image--tablet {
      display: block;
    }

    &__menu-toggle {
      top: 50px;
    }
  }
}
